html{
font-size: 100% !important;
} 

body{
      font-size: 1em;
      font-family: "Roboto", sans-serif !important;
      text-align: center !important;
      background: black !important;
      padding: 0em !important;
      margin: 0em !important;
			margin-left: auto !important;                     
			margin-right: auto !important;
      width: auto !important;
      line-height: 70%; 
}

@media (max-width: 400px) {

    body{
      font-size: 0.6em !important;
      line-height: 100% !important; 
	  }

} 

@media (min-height: 700px) {

    body{
      font-size: 1em !important;
      line-height: 150% !important; 
	  }

} 

@media (min-width: 1280px) {

    body{
      font-size: 1em;
      line-height: 70%; 
	  }

} 
  
  	.geek {
      width: 18em; /* 1.62 x lab  */
		  margin-top: 2em;
      margin-left: auto;                     
		  margin-right: auto;       
		  display: block;
	  }
    	.lab {
      width: 11.1em;
		  margin-top: 3em;
		  margin-left: auto;                     
		  margin-right: auto;          
		  display: block;
	  } 
	  
    
	  .slidergeekObal {
      width: 25em;
		  margin-top: 2em;
		  margin-left: auto;                     
		  margin-right: auto;          
		  display: block;
	  }
	  
	  .sliderlabObal {
      width: 25em;
		  margin-top: 2.5em;
		  margin-left: auto;                     
		  margin-right: auto;          
		  display: block;
	  }

	  
    .SliderG {
		  margin-left: auto;                     
		  margin-right: auto;          
		  display: block;
	  }

    .SliderL {
		  margin-left: auto;                     
		  margin-right: auto;          
		  display: block;  
	  }


    .ui-btn, .ui-slider-handle {     /* kolo okolo */
      border-color: rgba(52, 187, 238, 0.2) !important;
      box-shadow:  red !important;
    }

    .ui-btn-down-b .ui-btn-inner  {          /* vnitrni kruh */
      background-color: rgba(52, 187, 238, 1) !important;
    }

    .ui-btn-corner-all  {              /* cara */
      /*background-color: rgba(255, 0, 0, 0.45) !important;*/
    }

    .ui-slider-track .ui-btn.ui-slider-handle.ui-focus {  /* stin */
      border: 10px solid rgba(52, 187, 238,0.5);	
      box-shadow: 0px 0px 2px 0px #34BBEE !important; 
    }

    .ui-slider input {  /* pruhlednost textu u input */
      opacity: 0.65; 
    }
